// Project-wide Bootstrap CSS.
// Adapted from Bootswatch "Materia"

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

// Fix the navbars ridiculous padding.
$navbar-vertical-pad: 0.1rem;

.navbar {
  padding: $navbar-vertical-pad 1rem;
}

.btn {
  text-transform: none;
}

// Fix spacing issues in cards for project list view and remove border curves.
.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
}

.feather-icon-svg {
  vertical-align: text-bottom;
  padding-right: 0.5rem;
}

.stripes {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2) 10px,
      rgba(0, 0, 0, 0) 10px,
      rgba(0, 0, 0, 0) 20px
  ) !important;
}

.stripes-sm {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 5px,
      rgba(0, 0, 0, 0) 5px,
      rgba(0, 0, 0, 0) 10px
  ) !important;
}

// Make text show up better against e.g. warning stripes with small buttons
.btn-sm.stripes-sm {
  text-shadow: 0 0 0.1rem #333333;
}

// Disable modal curves
.modal-content {
  border-radius: 0;
}

.modal-header {
  border-radius: 0;
}

// Load syntax highlighting stylesheet
@import "github_highlightjs";
