[hpas]
database_string="username:password@pghost/database"
secret_key="(output of 'openssl rand -base64 32')"
authn_provider="(simple, aad, openid or ldap)"
server_address="http://localhost:8888 (replace this with the deployment address)"

[aad]
tenant="(a valid tenant id or domain e.g. 'azure.example.com')"
application_id="(the Application ID field for this application in Azure AD's portal)"

[openid]
discovery_url="https://example.com:8443/.well-known/openid-configuration"
audience="(this field is optional; skip it if you don't know what this is)"

[ldap]
server_url="ldap://hostname:1234"
search_base="dc=example,dc=com"
filter_field="sAMAccountName (for Active Directory)"
email_field="mail"
domain="AD_DOMAIN"
is_ad=true
normalize_logins=true
